.headerContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 100px;
  background-color: rgb(107, 143, 209);
}

.headerTittle{
  color: white;
}

.logOutBtn{
  background-color: rgb(49, 21, 151);
  color: white;
}

.hide{
  visibility: hidden;
}
